<p>
  <button type="button" class="btn btn-outline-primary" (click)="showDetails()">
    Show Details
  </button>
</p>
<div *ngIf="!isCollapsed">
  <div class="card">
    <div class="card-body">
      <div class="alert alert-primary" *ngIf="!list || list.length === 0">
        There is no items in the list.
      </div>
      <ul class="list-group" *ngIf="!!list && list.length > 0">
        <li class="list-group-item pointer" (click)="removeItem(item, index)"
            *ngFor="let item of list; let index = index;"
            [ngClass]="graterOrEqualThan5(index)"
        >
          {{index+1}}: {{item | date:'mediumTime'}}
        </li>
      </ul>
    </div>
  </div>
</div>
